{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    ["@babel/env", {"loose": true, "useBuiltIns": "usage"}]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime", {"helpers": false, "regenerator": true}],
    ["relay", { "schema": "src/data/schema.graphql", "artifactDirectory": "./src/__generated__" }]
  ]

}